@model GestorHorarioG6.Models.Servico

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            <a asp-action="Edit" asp-route-id="@Model.ServicoId"><input type="button" value="Editar" class="btn btn-success" /></a>
        </dt>
        <dd>
            <a asp-action="Index"><input type="button" value="Voltar" class="btn btn-default" /></a>
        </dd>

    </dl>
</div>