@model IEnumerable<GestorHorarioG6.Models.Servico>

@{
    ViewData["Title"] = "Serviços";
}

<h2>Serviços</h2>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td style="text-align:right">
                @if (item.Descrição != null && item.Descrição != string.Empty)
                {
                    <a asp-action="Details" asp-route-id="@item.ServicoId">Descrição</a><p style="display: inline"> |</p>
                }
                <a asp-action="Edit" asp-route-id="@item.ServicoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
