@model GestorHorarioG6.Models.RequisicaoDetalhe

@{
    ViewData["Title"] = "Eliminar";
}
<style>
    dl, dt, dd {
        margin-top: 8px
    }
</style>
<h2>Eliminar</h2>

<h4>Tem a certeza que pretende eliminar?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            <p>ID da Requisição</p>
        </dt>
        <dd>
            <p></p>
            @Html.DisplayFor(model => model.Requisicao.RequisicaoId)
        </dd>
        <dt>
            <p>Serviço</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servico.Nome)
        </dd>
        <dt>
            <p>Horas Críticas</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraCriticaDe)
            @if (Model.HoraCriticaAte.HasValue)
            {
                <i> - </i>
                @Html.DisplayFor(model => model.HoraCriticaAte.Value.TimeOfDay)
            }
        </dd>
        <dt>
            <p>Duração Estimada</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuraçãoEstimada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aprovado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprovado)
        </dd>
        <dt>
            <p>
                Hora a que<br />
                foi concluído
            </p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraConcluido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>
            <form asp-action="Delete">
                <input type="hidden" asp-for="RequisicaoDetalheId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que pretende eliminar?');" />
            </form>
        </dt>
        <dd>
            <input type="button" value="Voltar" class="btn btn-default" onclick="history.back();return false;" />
        </dd>
    </dl>
</div>
