@model RequisicoesEquipamentosListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Requisições de Equipamentos</h2>
<table class="table">
    <tr>
        <td>
            <br />
            <p>
                <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
            </p>
        </td>
        <td>
        <td style="text-align:right">
            <form asp-controller="RequisicaoEquipamento" asp.action="Index">
                <br />
                <div class='input-group date'>
                    <input asp-for="CurrentDay" class="form-control" />
                    <span class="input-group-addon">
                        <button type="submit" style="border:0; background:transparent">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Equipamento
            </th>
            <th>
                Hora de Início
            </th>
            <th>
                Hora de Fim
            </th>
            <th>
                Bloco
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RequisicaoEquipamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloco.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequisicaoEquipamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RequisicaoEquipamentoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RequisicaoEquipamentoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div pagination-model="Model.PagingInfo"></div>
