@model GestorHorarioG6.Models.Turno

@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar turno</h2>
<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicioManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicioManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFimManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFimManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicioTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicioTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFimTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFimTarde)
        </dd>
        <dt>
            <form asp-action="Delete">
                <input type="hidden" asp-for="TurnoId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que pretende eliminar?');" />
            </form>
        </dt>
        <dd>
            <a asp-action="Index">
                <input type="submit" value="Voltar" class="btn btn-default" />
            </a>
        </dd>
    </dl>
</div>
