@model FuncionarioViewModel

@{
    ViewData["Title"] = "Escalas";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentNome" class="control-label"></label>
                    <input asp-for="CurrentNome" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
              Nome
            </th>
            <th>
               Cargo
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Data de Nascimento do filho mais novo
            </th>
            <th>
               Nif
            </th>
            <th>
               Telefone
            </th>
            <th>
               Email
            </th>
            <th>
               Notas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Funcionario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nascimento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NascimentoFilho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div page-model="@Model.Pagination"></div>

<p>
    <a asp-action="Adicionar_Funcionario" class="btn btn-default">Novo</a>
</p>
