@model IEnumerable<GestorHorarioG6.Models.RequisicaoDetalhe>

@{
    ViewData["Title"] = "Requisições Aprovadas";
}

<h2>Requisições Aprovadas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Departamento</p>
            </th>
            <th>
                <p>Serviço</p>
            </th>
            <th>
                <p>Hora de Início</p>
            </th>
            <th>
                <p>Duração Estimada</p>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Requisicao.Departamento.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraDeInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuraçãoEstimada)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.RequisicaoDetalheId">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>