@model IEnumerable<GestorHorarioG6.Models.RequisicaoDetalhe>

@{
    ViewData["Title"] = "Requisições Aprovadas";
}

<h2>Requisições Aprovadas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Departamento</p>
            </th>
            <th>
                <p>Serviço</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requisicao.Departamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico)
            </td>
            <td align="right">
                <a asp-action="Edit" asp-route-id="@item.RequisicaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RequisicaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RequisicaoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>