@model IEnumerable<GestorHorarioG6.Models.RequisicaoDetalhe>

@{
    ViewData["Title"] = "Detalhes da Requisição";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requisicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraCriticaDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraCriticaAte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuraçãoEstimada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprovado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDeFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraConcluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requisicao.RequisicaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraCriticaDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraCriticaAte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuraçãoEstimada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprovado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraConcluido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequisicaoDetalheId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequisicaoDetalheId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequisicaoDetalheId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>