@model GestorHorarioG6.Models.Requisicao

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<div>
    <h4>Requisição</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServicoID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraDeInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraDeInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraDeFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraDeFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequisicoesAdicionais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequisicoesAdicionais)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RequisicaoID" />
        <input type="submit" value="Eliminar" class="btn btn-default" />
    </form>

    <a asp-action="Index">Voltar</a>
</div>
