@model IEnumerable<GestorHorarioG6.Models.RequisicaoDetalhe>

@{
    ViewData["Title"] = "Detalhes";
}

<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <h2>
            @ViewBag.Data
        </h2>
    </div>
    <div class="col-lg-4 col-lg-offset-3">
        <h2>
            @ViewBag.Departamento
        </h2>
    </div>
</div>

<a asp-controller="RequisicaoDetalhes" asp-action="Create" asp-route-id="@ViewBag.Id"><input type="button" value="Criar Detalhe" class="btn btn-primary" /></a>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Serviço</p>
            </th>
            <th>
                <p>Hora Crítica</p>
            </th>
            <th>
                <p>Duração Estimada</p>
            </th>
            <th>
                <p>Aprovar</p>
            </th>
            <th>
                <p>Concluído</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCriticaDe.TimeOfDay)
                    @if (item.HoraCriticaAte.HasValue)
                    {
                        <i> - </i>
                        @Html.DisplayFor(modelItem => item.HoraCriticaAte.Value.TimeOfDay)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuraçãoEstimada)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Aprovado, new { @onclick = "Aprovar(" + item.RequisicaoDetalheId + ")" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraConcluido)
                </td>
                <td align="right">
                    <a asp-controller="RequisicaoDetalhes" asp-action="Edit" class="btn btn-success" asp-route-id="@item.RequisicaoDetalheId">Editar</a> |
                    <a asp-controller="RequisicaoDetalhes" asp-action="Details" class="btn btn-warning" asp-route-id="@item.RequisicaoDetalheId">Detalhes</a> |
                    <a asp-controller="RequisicaoDetalhes" asp-action="Delete" class="btn btn-danger" asp-route-id="@item.RequisicaoDetalheId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function Aprovar(id) {
        if (confirm("Tem a certeza que pretende aprovar?")) {
            $.post("/Requisicoes/Aprovar/" + id);
        }
    }
</script>