@model GestorHorarioG6.Models.Requisicao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Requisicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequisicaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
