@model IEnumerable<GestorHorarioG6.Models.Requisicao>

@{
    ViewData["Title"] = "Requisições";
}

<h2>Requisições</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Serviço
            </th>
            <th>
                Hora de Início
            </th>
            <th>
                Hora de Fim
            </th>
            <th>
                Requisições Adicionais
            </th>
            <th>
                Aprovada
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.ServicoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisicoesAdicionais)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Aprovado, new { @onclick = "Clicked(" + item.RequisicaoId + ")" })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequisicaoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.RequisicaoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p><a asp-action="Create">Criar Requisição</a></p>

<script>
    function Clicked(id) {
        $.post("/Requisicoes/Clicked/" + id);
    }
</script>
