@model IEnumerable<GestorHorarioG6.Models.Equipamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Equipamentos</h2>

<table class="table">
    <tr>
        <td>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        </td>
        <td>
            <form asp-controller="Equipamentos" asp.action="Index">
                <p>
                    Nome: <input type="text" name="SearchString" />
                    <input type="submit" value="Pesquisar" />
                </p>
            </form>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloco.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
