@model GestorHorarioG6.Models.HorarioTecnicos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HorarioTecnicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFimManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFimTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno.TurnoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcionario.NIF)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioTecnicoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
