@model IEnumerable<GestorHorarioG6.Models.HorarioTecnicos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioManha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimManha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioTarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimTarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno.TurnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.NIF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioTecnicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioTecnicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioTecnicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
