@model IEnumerable<GestorHorarioG6.Models.HorarioTecnicos>

@{
    ViewData["Title"] = "Index";
}

<h2>Horário Técnicos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Técnico
            </th>
            <th>
                Turno
            </th>
            <th>
                Segunda
            </th>
            <th>
                Terça
            </th>
            <th>
                Quarta
            </th>
            <th>
                Quinta
            </th>
            <th>
               Sexta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.DataInicioManha.DayOfWeek == DayOfWeek.Monday)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno.TurnoId)
                    </td>

                    @foreach (var item1 in Model.Where(p => p.FuncionarioId == item.FuncionarioId))
                    {
                        @if (item1.DataInicioManha.DayOfWeek == DayOfWeek.Monday)
                        {
                    <td>                       
                        @Html.DisplayFor(modelItem => item1.DataInicioManha.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimManha.Hour)h |
                        @Html.DisplayFor(modelItem => item1.DataInicioTarde.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimTarde.Hour)h
                    </td>
                        }
                        else if (item1.DataInicioManha.DayOfWeek == DayOfWeek.Tuesday)
                        {
                    <td>                       
                        @Html.DisplayFor(modelItem => item1.DataInicioManha.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimManha.Hour)h |
                        @Html.DisplayFor(modelItem => item1.DataInicioTarde.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimTarde.Hour)h
                    </td>
                        }
                        else if (item1.DataInicioManha.DayOfWeek == DayOfWeek.Wednesday)
                        {
                    <td>
                        @Html.DisplayFor(modelItem => item1.DataInicioManha.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimManha.Hour)h |
                        @Html.DisplayFor(modelItem => item1.DataInicioTarde.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimTarde.Hour)h
                    </td>
                        }
                        else if (item1.DataInicioManha.DayOfWeek == DayOfWeek.Thursday)
                        {
                    <td>
                        @Html.DisplayFor(modelItem => item1.DataInicioManha.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimManha.Hour)h |
                        @Html.DisplayFor(modelItem => item1.DataInicioTarde.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimTarde.Hour)h
                    </td>
                        }
                        else if (item1.DataInicioManha.DayOfWeek == DayOfWeek.Friday)
                        {
                    <td>
                        @Html.DisplayFor(modelItem => item1.DataInicioManha.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimManha.Hour)h |
                        @Html.DisplayFor(modelItem => item1.DataInicioTarde.Hour)h-@Html.DisplayFor(modelItem => item1.DataFimTarde.Hour)h
                    </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
    </table>
