@model PedidoDeTrocaViewModel

@{
    ViewData["Title"] = "Trocas";
}

<h2>Trocas</h2>

<form asp-action="Index">
    <p>
        Nome:<input style="width: 200px;" asp-for="CurrentNome" placeholder="Insira o nome a pesquisar" />
        data:<input style="width: 200px;" asp-for="DataInicio" />
        <button type="submit" value="Pesquisar" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
    </p>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                <i style='font-size:24px' class='far'></i> Data
            </th>
            <th>
                <i style='font-size:24px' class='fas'></i> Funcionario
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trocas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                </td>
                <td align="right">
                    <a asp-action="Details" asp-route-id="@item.TrocasID" class="btn btn-warning">
                        <span class="fas fa-info" style="color:white;"></span> Detalhes
                    </a>

                    @if (item.Estado.Nome == "Pendente")
                    {
                        <a asp-action="Aprovar" asp-route-id="@item.TrocasID" class="btn btn-success">
                            Aprovar
                        </a>
                        <a asp-action="NaoAprovar" asp-route-id="@item.TrocasID" class="btn btn-danger">
                            Não Aprovar
                        </a>
                    }

                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div pagination-model="Model.Pagination"></div>