@model IEnumerable<GestorHorarioG6.Models.Trocas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turno1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conhecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprovado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Turno1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conhecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprovado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrocasID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrocasID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrocasID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
